
.mycard {
  background-color: #0ce2f6;
  color: white;
  padding: 20px;
  border: 2px solid grey;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}

.description{
  color: black;
  padding: 20px;
}

.titleImg {
  color: whitesmoke;
  font-weight: bold;
}

.imagen {
  width: 200px;
}

.contentHook {
  padding: 40px;
  min-width: 52rem;
  width: 100%;
}


.on {
  background-color: rgb(28, 152, 8);
}

.off {
  background-color: rgb(224, 34, 199);
}




