body {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.contentDiv {
  max-width: 32rem;
  width: 100%;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0px 15px 0px;
  border: 1px solid #d1d5db;
}

.titleDiv {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.sectionDiv {
  margin-bottom: 2rem;
}

.subtitleDiv {
  font-size: 1.7rem;
  font-weight: 500;
  color: #c11313;
  margin-bottom: 0.5rem;
}


